<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        body {
            color: #ddd;
            background-color: #121212;
        }

        .card {
            background-color: #282828;
        }

        .card-header {
            border-bottom-color: #404040;
        }

        input[type="email"], input[type="password"] {
            border-color: #ddd;
            background-color: #ddd;
            height: calc(1.1em + 0.7rem + 2px);
            font-size: 90%;
        }

        input[type=email]:focus, input[type="password"]:focus {
            background-color: #ddd;
            border-color: lightblue;
        }
    </style>
    <title>UniData - Log In</title>
</head>
<body>
<nav>
    <br>
    <br>
</nav>

<div style="font-size: 83%; width:400px;" class="container mt-4">

    <div class="card">
        <div class="card-header">
            <h6>Log In</h6>
        </div>
        <div class="card-body">
            <form action="/auth/login" method="POST">

                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="text-center fs-6">
                    <br>
                    <button type="submit" class="btn btn-primary btn-sm">Log in</button>
                </div>
                <div class="text-center fs-6"><br> <a href="#">Forget password?</a> or <a href="/register">Sign Up</a>
                </div>
            </form>
        </div>
    </div>

    <% if(typeof message !== 'undefined'){ %>
        <br>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                 class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                 aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>
                <%=message%>
            </div>
        </div>
    <%}%>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
</body>
</html>