@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    text-align:center;
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.card {
    text-align:left;
    background-color: #282828;
    margin-left: 24%;
    margin-top: 4%;
    width: 55%;
    height 100%;
}
hr {
    background-color: #7386D5;
}
.card-header{
    align-content:center;
    text-align:center;
    padding-top:3%;
}
.card-name{
    margin-top:10px;
}
.card-text{
    margin:5px;
}

