@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    text-align: -webkit-center ;
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.card {
    min-width:290px;
    text-align: left;
    background-color: #282828;
    margin-top: 4%;
    width: 55%;
    height 100%;
}
.card-header {
    align-content: center;
    text-align: center;
    padding: 0rem 0rem;
    padding-top: 3%;
    border-bottom-color: #7386D5;
}
.card-name {
    margin-top: 10px;
}

.card-text {
    margin: 5px;
}
.edit-pro {
    text-align:right;
}
.edit-pro button{
    width:25px;
    height:25px;
    padding: 0px 0px;
    margin:5px;
}